/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.banner {
 margin-bottom: 40px;
 height: 100vh;
 background-size: cover !important;
 position:relative;
 }

 .title {
  position:absolute;
  text-align:center;
  color:white;
  font-weight: bold;
  top: 35vh;
  left: 30%;
 }
 .title h1 {
  font-size: 60px;
 }

.logos {
padding-top: 60px;
padding-bottom: 60px;
h2 {
  font-size:30px;
}
}

.container_cards {
  padding-bottom: 60px;
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 60px;
}

.banner_2 {
 margin-bottom: 40px;
 margin-top: 40px;
 height: 395px;
 width:1138px;
 }
