.background-login {
 margin-bottom: 20px;
 text-align: center;
 position:relative;
 height: 100vh;
 background-size: cover !important;
 }

.login {
  position:absolute;
  text-align:center;
  color:white;
  font-weight: bold;
  top:35%;
  right:12%;
 }
