.background-sign-up {
 text-align: center;
 position:relative;
 height: 100vh;
 background-size: cover !important;
 }

.sign_up {
  position:absolute;
  text-align:center;
  color:white;
  font-weight: bold;
  top:35%;
  right:12%;
  a {
    color:white;
    text-decoration: none;
    font-weight:bold;
  }
 }

 .help-block {
  color:white;
 }

