
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<div class="banner" style="background: url('https://hd.unsplash.com/photo-1430916273432-273c2db881a0');">
  <%= render "shared/navbar" %>
       <div class="title">
         <h1>Time to Hunt</h1>
         <h2>Le plaisir de la chasse à portée de main</h2>
         <br>
     </div>
</div>




