<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<div class="text-center padded">
<h1>// Our Availabilities \\</h1>
<div class="row">
  <div class=" col-sm-4"></div>
    <div class="col-sm-4 text-center">
<% @availabilities.each do |availability| %>
  <p> availability.date <p>
<% end %>
</div>
</div>
</div>
</div>

</div>
